<div class="container mt-5">
  <!--Adim 1-->
  <section *ngIf="step==1" class="row form-wrapper col-lg-6 margin-auto">
    <h2>Adım 1</h2>
    <!--TC No Baslangic-->
    <div>
      <div>
        <label for=""> TC Kimlik No</label>
        <span class="text-danger mx-1">*</span>
      </div>
      <input style="width: 100%;" type="text" name="identityNo">
    </div>
    <!--TC No Bitis-->
    <div class="divider-half">
      <!--Ad Baslangic-->
      <div>
        <div>
          <label for="">Ad</label>
          <span class="text-danger mx-1">*</span>
        </div>
        <input type="text" name="name">
      </div>
      <!--Ad Bitis-->
      <!--Soyad Baslangic-->
      <div>
        <div>
          <label for="">Soyad</label>
          <span class="text-danger mx-1">*</span>
        </div>
        <input type="text" name="surname">
      </div>
      <!--Soyad Bitis-->
    </div>
    <!--Dogum Tarihi Baslangic-->
    <div>
      <div>
        <label for="">Doğum Tarihi</label>
        <span class="text-danger mx-1">*</span>
      </div>
      <input type="date" placeholder="dd/mm/yyyy">
    </div>
    <!--Dogum Tarihi Bitis-->
    <!--E-posta ve telefon Baslangic-->
    <div class="divider-half">
      <!--E-posta Baslangic-->
      <div>
        <div>
          <label for="">E-posta</label>
          <span class="text-danger mx-1">*</span>
        </div>
        <input type="text">
      </div>
      <!--E-posta Bitis-->
      <!--Telefon Baslangic-->
      <div>
        <div>
          <label for="">Telefon</label>
          <span class="text-danger mx-1">*</span>
        </div>
        <input type="text">
      </div>
      <!--Telefon Bitis-->
    </div>
    <!--E-posta ve telefon Bitis-->
    <!--Adres Baslangic-->
    <div>
      <div>
        <label for="">Adres</label>
        <span class="text-danger mx-1">*</span>
      </div>
      <input class="address" style="width: 100%;" type="text" name="address">
    </div>
    <!--Adres Bitis-->
    <!--İl ve İlce Baslangic-->
    <div class="divider-half">
      <!--İl-->
      <div>
        <div>
          <span class="text-danger mx-1">*</span>
          <label for="">İl</label>
        </div>
        <input type="text">
      </div>
      <!--İlce-->
      <div>
        <div>
          <span class="text-danger mx-1">*</span>
          <label for="">İlçe</label>
        </div>
        <input type="text">
      </div>
    </div>
    <!--İl ve İlce Bitis-->
    <!--Cinsiyet-->
    <div>
      <span class="text-danger mx-1">*</span>
      <label for="">Cinsiyet</label>
    </div>

    <div class="gender">
      <input class="mx-2" type="radio" name="gender" value="Kadın">
      <label class="mx-1" for="">
        Kadın
      </label>
      <input class="mx-2" type="radio" name="gender" value="Erkek">
      <label class="mx-2" for="">
        Erkek
      </label>
      <input class="mx-2" type="radio" name="gender" value="Diğer">
      <label class="mx-2" for="">
        Diğer
      </label>
    </div>
    <!--Boy ve Kilo Baslangic-->
    <div class="divider-half">
      <!--Boy Baslangic-->
      <div>
        <div>
          <label for="">Boy (cm)</label>
          <span class="text-danger mx-1">*</span>
        </div>
        <input type="number">
      </div>
      <!--Kilo Baslangic-->
      <div>
        <div>
          <label for="">Kilo (kg)</label>
          <span class="text-danger mx-1">*</span>
        </div>
        <input type="number">
      </div>
    </div>
    <!--İleri-->
    <div class="btn-container">
      <span></span>
      <div *ngIf="isLoading" class="spinner-grow" style="width: 3rem; height: 3rem; margin: auto;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="btn-next">
        <button (click)="addCustomer()">
          <div>
            İleri<fa-icon class="next" [icon]="nextArrow"></fa-icon>
          </div>
        </button>
      </div>
    </div>
  </section>
  <!--Adim 2-->
  <section *ngIf="step==2" class="row form-wrapper col-lg-6 m-auto">
    <h2>Adım 2</h2>
    <p>Satın almak istediğiniz paketi ve ödeme türünü seçiniz.</p>
    <div class="policy-card__container">
      <div class="policy-card">
        <input type="radio" name="policy" value="policy.policyId">
        <p class="policy-title">Yatarak Tedavi</p>
        <p class="policy-price">500 &#8378;</p>
      </div>
      <div class="policy-card">
        <input type="radio" name="policy" value="policy.policyId">
        <p class="policy-title">Ayakta Tedavi</p>
        <p class="policy-price">1000 &#8378;</p>
      </div>
      <div class="policy-card">
        <input type="radio" name="policy" value="policy.policyId">
        <p class="policy-title">Yatarak+Ayakta Tedavi</p>
        <p class="policy-price">1300 &#8378;</p>
      </div>
    </div>
    <div class="policy">
      <select name="" id="">
        <option value="">--Seçiniz--</option>
        <option *ngFor="let x of paymentTypes" value="paymentId">{{x.title}}</option>
      </select>
    </div>
    <br />
    <div class="btn-container">
      <div>
        <button (click)="goToPreviousStep()">
          <div class="btn-content">
            <fa-icon class="prev" [icon]="prevArrow"></fa-icon>Geri
          </div>
        </button>
      </div>
      <span></span>
      <div *ngIf="isLoading" class="spinner-grow" style="width: 3rem; height: 3rem; margin: auto;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div>
        <button (click)="addOrder()">
          <div>
            İleri<fa-icon class="next" [icon]="nextArrow"></fa-icon>
          </div>
        </button>
      </div>
    </div>
  </section>
  <!--Adim 3-->
  <div *ngIf="step==3" class="row form-wrapper col-lg-6 m-auto">
    <h2>Adım 3 Ödeme</h2>
    <div class="btn-container">
      <div>
        <button (click)="goToPreviousStep()">
          <div>
            <fa-icon class="prev" [icon]="prevArrow"></fa-icon>Geri
          </div>
        </button>
      </div>
      <div *ngIf="isLoading" class="spinner-grow" style="width: 3rem; height: 3rem; margin: auto;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div>
        <button (click)="addCreditCard()">
          <div>
            İleri<fa-icon class="next" [icon]="nextArrow"></fa-icon>
          </div>
        </button>
      </div>
    </div>
  </div>
  <!--Adim 4-->
  <div *ngIf="step==4" class="row form-wrapper col-lg-6 m-auto">
    <h2 style="text-align: center;">Teşekkürler</h2>
    <div class="thanks-container ">
      <fa-icon class="text-success icon-success" [icon]="checkIcon"></fa-icon>
      <p>Poliçe başvurunuz başarıyla gerçekleşmiştir.</p>
      <p>Bizi tercih ettiğiniz için teşekkür ederiz.</p>
      <a href="/">
        <button class="btn-thanks">Ana Sayfaya Dön</button>
      </a>
    </div>
  </div>
</div>
