<aside class="container">
  <app-sidebar></app-sidebar>
  <div class="content-area">
    <div class="search-area">
      <i class="search-icon"></i>
      <input type="text" class="searchbox">
    </div>
    <div class="search-area">
      <i class="search-icon"></i>
      <input type="text" class="searchbox">
    </div>
    <table class="table">
      <thead>
        <tr class="table-head">
          <th>TC Kimlik No</th>
          <th>Ad</th>
          <th>Soyad</th>
          <th>Doğum Tarihi</th>
          <th>E-Posta</th>
          <th>Telefon</th>
          <th>Cinsiyet</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of customers">
          <td>{{x.identityNo}}</td>
          <td>{{x.name}}</td>
          <td>{{x.surname}}</td>
          <td>{{x.birthDate | date}}</td>
          <td>{{x.email}}</td>
          <td>{{x.phone}}</td>
          <td>{{x.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</aside>
