<div class="container">
  <section class="row">
    <div class="application-container col-lg-9 m-auto">
      <h4>İhtiyaçlarınıza uygun poliçe hizmetini seçin, poliçe başvurunuzu yapın.</h4>
      <div class="policy-card__container">
        <div class="policy-card">
          <fa-icon class="policy__icon" [icon]="bedPulseIcon"></fa-icon>
          <p class="policy-title">Yatarak Tedavi</p>
          <p class="policy-price">500 &#8378;</p>
        </div>
        <div class="policy-card">
          <fa-icon class="policy__icon" [icon]="heartPulseIcon"></fa-icon>
          <p class="policy-title">Ayakta Tedavi</p>
          <p class="policy-price">1000 &#8378;</p>
        </div>
        <div class="policy-card">
          <fa-icon class="policy__icon" [icon]="medical"></fa-icon>
          <p class="policy-title">Yatarak+Ayakta Tedavi</p>
          <p class="policy-price">1300 &#8378;</p>
        </div>
      </div>
      <a href="/satinal">
        <button class="btn-order">Poliçe Başvurusu Yap</button>
      </a>
    </div>
  </section>
</div>
<footer>

</footer>
<router-outlet></router-outlet>
