<div class=" panel-container">
  <div class="panel-navigation">
      <h3>Yönetim</h3>
    <hr />
    <br />
    <a href="/mudurluk/">
      <div class="panel-icons">
        <fa-icon [icon]="homeIcon"></fa-icon>
        Ana Sayfa
      </div>
    </a>
    <a href="/mudurluk/basvurular">
      <div class="panel-icons">
        <fa-icon [icon]="applyIcon"></fa-icon>
        Başvurular
      </div>
    </a>
    <a href="/mudurluk/musteriler">
      <div class="panel-icons">
        <fa-icon [icon]="userIcon"></fa-icon>Müşteriler
      </div>
    </a>
    <a href="/mudurluk/policeler">
      <div class="panel-icons">
        <fa-icon [icon]="policyIcon"></fa-icon>
        Poliçeler
      </div>
    </a>
  </div>
</div>
