$border-radius: 0.625rem;
$bg-color__input: #5f9ef777;
$bg-color__panel: #003082;
$bg-color__panel__hover: #5f9ef73a;
$outline__input: #5f9ef783;
$shadow__input: #5f9ef7;
$font-dark: #031d3f;
$font-light: #f6f9fe;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.panel-container {
  margin: 0 3rem;
  padding: 2.5rem;
  background-color: $bg-color__panel;
  height: 85vh;
  border-radius: $border-radius;
  box-shadow: 0px 0px 10px -4px rgba(32, 37, 163, 0.25);
  div.panel-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $font-light;

    h3{
      margin: 3rem auto 2rem auto;
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
    }

    hr{
      margin: 2rem auto;
      border-top: 0.25rem solid $font-light;
      border-radius: 0.125rem;
      width: 100%;
      margin: auto;
    }
    a {
      color: $font-light;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      padding: 1rem 4rem 1rem 2rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      div.panel-icons{
        display: flex;
        flex-direction: row;
        fa-icon {
          margin-right: 1rem;
        }
      }
      &:hover {
        background-color: $bg-color__panel__hover;
        transition: 0.4s;
      }
      &:active {
        background-color: $shadow__input;
        transition: 0.4s;
        color: $shadow__input;
      }
    }
  }
}

  @media only screen and (min-width: 200px) and (max-width: 768px){

    .panel-container {
      max-height: 20rem;
      margin: auto;
      width: 90%;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;

      div.panel-navigation {
        a {
          padding: 1rem 2rem;
          border-radius: 0.5rem;
          font-size: 1.25rem;}
      }
    }
  }
