$border-radius: 0.625rem;
$bg-color__input: #5f9ef777;
$bg-color__panel: #003082;
$bg-color__panel__hover: #5f9ef73a;
$outline__input: #5f9ef783;
$shadow__input: #5f9ef7;
$font-dark: #031d3f;
$font-light: #f6f9fe;

.main-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  min-height: 85vh;
  border-radius: $border-radius;
  margin-right: 3rem;

  div.search-area {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
    i.search-icon {
      position: relative;
      left: 2rem;
      top: 0.4rem;
      font-size: 1.2rem;
      color: $font-dark;
    }
    input.searchbox {
      width: 100%;
      padding: 0.5rem 1rem 0.5rem 3rem;
      max-height: 2rem;
      font-size: 1rem;
      border: none;
      border-radius: 1rem;
      background-color: $bg-color__input;
      color: $font-dark;
      letter-spacing: 0.3px;

      &:focus {
        outline: 2px solid $shadow__input;
        box-shadow: 0px 0px 15px 5px $bg-color__input;
      }
    }
  }
  div.content-area {
    table {
      border-collapse: collapse;
      width: 100%;
    }

    /*td, th {
      border: 1px solid $font-dark;
      border-right: none;
      text-align: left;
      padding: 8px;
      font-weight: 400;
    }*/

    tr:nth-child(even) {
      background-color: $bg-color__panel__hover;
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 768px){
    body {
      max-height: 20rem;
      margin: auto;
      width: 90%;
      align-items: center;
      justify-content: center;
    }
  }
}
