$bg-color__table: #004ccf4b;
$bg-color__table-head: #00367c;
$font-dark: #031d3f;
$font-light: #f6f9fe;

*{
  font-family: 'Poppins', sans-serif;
}

table.table {
  border-collapse: collapse;
  width: 85%;
  margin: 6rem auto 1rem;
  tr{
    padding: 1rem;
  }
  tr:nth-child(even),thead {
    background-color: $bg-color__table;
  }
}
