$bg-color__input: #5f9ef75b;
$outline__input: #5f9ef749;
$shadow__input: #5f9ef7;
$font-dark: #031d3f;
$btn-color: #003082;
$shadow: #03045e;
$font-light: #f6f9fe;
button.btn-order{
  padding: 1 2.5rem;
  width: 20%;
  font-size: 1.125rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: $btn-color;
  color: $font-light;
  font-weight: 500;
  letter-spacing: 0.3px;
}
