<aside class="container">
<app-sidebar></app-sidebar>
  <div class="content-area">
    <div class="search-area">
      <fa-icon class="search-icon"[icon]="searchIcon"></fa-icon>
      <input type="text" class="searchbox">
    </div>
    <table class="table">
      <thead style="text-align: center; justify-content: center;">
        <tr>
          <th>TC Kimlik No</th>
          <th>Ad</th>
          <th>Soyad</th>
          <th>Ödeme Yöntemi</th>
          <th>Başvuru Durumu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of applications">
          <td>{{x.identityNo}}</td>
          <td>{{x.name}}</td>
          <td>{{x.surname}}</td>
          <td>{{x.title}}</td>
          <td>{{x.status}}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="/mudurluk/basvurular">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
</aside>
